{% load static %}
<table>
    <thead>
        <tr>
            <th>carrito</th>
        </tr>
        <tr>
            <th>nombre</th>
            <th>precio</th>
            <th>cantidad</th>
        </tr>
    </thead>
    <tbody>
        {% if request.session.carrito.items %}
        {% for key, value in request.session.carrito.items %}

            <tr>
                <td><img src="{{prod.photo_as_blob.url}}"></td>
                <td>{{value.nombre}}</td>
                <td>{{value.precio}}</td>
                <td>{{value.acumulado}}</td>
                <td>{{value.cantidad}}
                    <a href="{% url 'add' value.producto_id %}">+</a>
                    <a href="{% url 'rest' value.producto_id %}">-</a>
                </td>
            </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">
                <div>sin productos</div>
            </td>
        </tr>
        {% endif %}
        <tr>
            <th scope="row">total:</th>
            <td colspan="2">$ {{total_carrito}}</td>
        </tr>
    </tbody>
</table>
<hr>
<div>
    <a href="{% url 'cln' %}">limpiar</a>
</div>