{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'farmacia/CSS/Style.css'%}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/cssfont-awesome.min.css">

    <title>Farmacia</title>
</head>

<body>
    <header>
        <div class="wrapper">
            <nav>
                <div>
                    <a href="{% url 'home' %}"><img src="{% static 'farmacia/img/logoverde.png.png'%}" alt="imagen_logo" class="logo" /></a>
                </div>
                <input type="checkbox" id="check" />
                <label for="check" class="bar-btn">
                    <i class="fas fa-bars"></i>
                </label>
                <ul class="nav-menu wrapper">
                    <li><a href="{% url 'home' %}">Inicio</a></li>
                    <li><a href="{% url 'home' %}">Categorias</a></li>
                    <li><a href="#">Hacer Pedido</a></li>
                    <li><a href="{% url 'log' %}">Iniciar Sesion</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <a href="#"><button onclick="topFunction()" id="myBtn" title="Subir" class="fa-solid fa-angle-up"></button></a>
    <main class="main wrapper">
        <div id="contenedor-agregar">
            <a href="{% url 'addProd' %}" class="btn-agregar">+ agregar productos</a>
        </div>
        <section id="container-sexualidad" class="row row-cols-md-1 row-cols-md-1 g-0 wrapper">
            {% for prod in productos %}
            <div class="card h-80 bg-light">
                <!-- put item.userId & item.id below this -->
                <div class="card-header"></div>
                <div class="btns-up-del">
                    <button id="btn-del" class="fa-solid fa-trash-can" href="#" onclick="deletes({{prod.idProducto}})"></button>
                    <a id="btn-mod" class="fa-solid fa-gear" href="{% url 'mod' prod.idProducto %}"></a>
                </div>
                <img class="card-img-top" src="{{prod.photo_as_blob.url}}"
                    alt="Card image cap">
                <div class="card-title">{{prod.nombreProd}}</div>
                <div class="card-body">
                    <p class="card-text">{{prod.descripEspecifica}}</p>
                    <p class="card-text2">{{prod.unidades}}</p>
                    <p class="card-text3">{{prod.desc}}</p>
                </div>
                <div class="card-price">${{prod.price}} c/u</div>
                <a href="#" id="btn-productos" class="btn btn-primary">Comprar</a>
                <hr>
            </div>
            {% endfor %}
        </section>
    </main>


    <!-- todo pabajo futer mano -->
    <footer class="bg-light text-center text-lg-start">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <form id="formfooter">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-auto mb-4 mb-md-0">
                        <p class="pt-2">
                            <strong>Suscríbete con nosotros</strong>
                        </p>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-5 col-12 mb-4 mb-md-0">
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="email" id="form5Example25" class="form-control" />
                            <label class="form-label" for="form5Example25">Direccion de correo</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-auto mb-4 mb-md-0">
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary mb-4">
                            Suscribirse
                        </button>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </form>
        </div>
        <!-- Grid container -->
        <!-- Footer -->
        <div class="fotersito">
            <div class="fotercol1">
                <p>Av Siempre Viva, N°304.</p>
            </div>
            <div class="foter-red">
                <p>Redes Sociales</p>
                <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
                <a href="https://twitter.com/" class="fa fa-twitter"></a>
                <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
            </div>
            <div class="fotercol2">
                <p>+56 9 8456 4232</p>
            </div>
            <div class="fotercol3">
                <p>Derechos reservados®</p>
            </div>
        </div>
    </footer>
    <!-- Footer -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/9aec3b5dab.js" crossorigin="anonymous"></script>
    <script src="{% static 'farmacia/JS/validatciones.js'%}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
</html>